.hero-bg {
    background: rgba(18,24,32,.05);
    position: relative; /* Ensure proper positioning for child elements */
    min-height: 60vh; /* Minimum height for the hero section */
    width: 100%;
    max-height: 500px;
}

.hero-map-bg {
    position: relative; 
    z-index: 0; 
    width: 100%;
    min-height: 60vh; 
    height: auto;
    max-height: 500px;

}

.hero-map-bg::before {
    content: "";
    background-image: url(/map.png); /* Adjust the path if necessary */
    background-size: cover; /* Use cover to ensure the image covers the area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    filter: invert(100%);
    opacity: .05;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 166; /* Ensure the pseudo-element is behind the content */
}

.bg-web-hero-img {
    background-image: url('/bg-svg-orange.svg'); /* Adjust the path if necessary */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 12%;
    margin-top: -290px;
    z-index: -1;
    width: 220px;
    height: 140px;
    rotate: 90deg;
}

