.bg-web-service-img {
    background-image: url(/bg-svg-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 58%; 
    margin-top: -60px;
    z-index: -1;
    width: 220px;
    height: 140px;
    transform: rotate(180deg); /* Rotates the background image */
}


.arrow-icon-demo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(18, 24, 32, 0.2);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 8px;
    color: white;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease; /* Smooth transition for both properties */
}

.arrow-icon-demo:hover {
    transform: translateX(5px); /* Move to the right by 5px */
}

.border-pricing:hover .arrow-icon-demo {
    background-color: #f57c00; /* Color change on hover */
}
